In [1]:
import numpy as np
import pandas as pd
import os

os.chdir("/Users/mostafa/project")
df = pd.read_csv('student_depression_dataset.csv')

In [14]:
for i in df:
    print(i,sum(df[i].isnull()))
    print(df[i].unique())

id 0
[     2      8     26 ... 140689 140690 140699]
Gender 0
['Male' 'Female']
Age 0
[33. 24. 31. 28. 25. 29. 30. 27. 19. 20. 23. 18. 21. 22. 34. 32. 26. 39.
 35. 42. 36. 58. 49. 38. 51. 44. 43. 46. 59. 54. 48. 56. 37. 41.]
City 23
['Visakhapatnam' 'Bangalore' 'Srinagar' 'Varanasi' 'Jaipur' 'Pune' 'Thane'
 'Chennai' 'Nagpur' 'Nashik' 'Vadodara' 'Kalyan' 'Rajkot' 'Ahmedabad'
 'Kolkata' 'Mumbai' 'Lucknow' 'Indore' 'Surat' 'Ludhiana' 'Bhopal'
 'Meerut' 'Agra' 'Ghaziabad' 'Hyderabad' 'Vasai-Virar' 'Kanpur' 'Patna'
 'Faridabad' 'Delhi' None 'Mira-Bhayandar']
Academic Pressure 0
[5. 2. 3. 4. 1. 0.]
Work Pressure 0
[0. 5. 2.]
CGPA 0
[ 8.97    5.9     7.03    5.59    8.13    5.7     9.54    8.04    9.79
  8.38    6.1     7.04    8.52    5.64    8.58    6.51    7.25    7.83
  9.93    8.74    6.73    5.57    8.59    7.1     6.08    5.74    9.86
  6.7     6.21    5.87    6.37    9.72    5.88    9.56    6.99    5.24
  9.21    7.85    6.95    5.86    7.92    9.66    8.94    9.71    7.87
  5.6     7.9     5.46    6.79    8.7     7.38    8.5     7.09    9.82
  8.89    7.94    9.11    6.75    7.53    9.49    9.01    7.64    5.27
  6.      9.44    5.75    7.51    9.05    6.38    8.95    9.88    5.32
  6.27    7.7     8.1     9.59    8.96    5.51    7.43    8.79    9.95
  5.37    6.86    8.32    9.74    5.66    7.48    8.23    8.81    6.03
  5.56    5.68    5.14    7.61    6.17    8.17    9.87    8.75    6.16
  9.5     7.99    5.67    8.92    6.19    5.76    6.25    5.11    5.58
  5.65    9.89    8.03    6.61    9.41    8.64    7.21    8.28    6.04
  9.13    8.08    9.96    5.12    8.35    7.07    9.6     9.24    8.54
  8.78    8.93    8.91    9.04    6.83    5.85    7.74    6.41    8.9
  7.75    7.88    5.42    7.52    7.68    8.4     9.39    6.84    5.99
  8.62    8.53    7.47    6.78    6.42    9.92    8.39    5.89    7.22
  6.81    9.02    9.97    9.63    9.67    5.41    7.27    6.05    6.85
  9.33    5.81    6.53    5.98    6.02    6.74    5.26    7.72    7.39
  8.43    9.34    5.44    5.82    5.72    8.19    8.44    8.98    9.37
  5.8     7.28    7.6     7.91    9.17    7.46    9.43    9.91    9.36
  5.16    7.08    9.26    8.83   10.      7.8     9.46    6.63    7.24
  6.47    7.77    5.06    7.17    8.24    6.88    9.03    5.08    5.45
  8.46    9.19    6.36    8.73    7.11    9.12    9.4     8.11    9.98
  5.55    8.61    8.14    6.89    9.84    5.48    8.21    7.82    8.55
  5.79    8.77    8.29    6.92    7.37    9.7     6.26    7.26    7.5
  6.82    7.15    5.77    5.91    5.1     7.71    9.06    5.71    5.84
  9.42    6.23    6.29    5.25    9.69    9.9     6.39    8.09    5.83
  5.47    6.56    8.71    9.94    6.69    5.52    7.3     7.02    6.33
  8.07    8.37    8.      7.79    8.65    6.28    7.35    8.69    7.12
  7.32    7.13    5.97    5.09    6.91    6.76    6.52    7.45    8.56
  6.5     8.63    8.27    8.49    6.59    9.29    5.3     7.06    5.38
  6.65    9.16    8.01    8.25    8.02    8.47    7.34    8.88    7.14
  8.42    5.17    9.1     7.49    9.85    7.42    9.31    6.35    7.
  5.39    5.61    9.78    9.25    5.69    9.47    8.16    7.23    6.46
  0.      8.26    6.32    6.77    8.85    5.03    7.65    5.78    6.24
  5.35    6.06    7.78    6.64    7.0625  6.98    6.44    6.09  ]
Study Satisfaction 0
[2. 5. 3. 4. 1. 0.]
Job Satisfaction 0
[0. 3. 4. 2. 1.]
Sleep Duration 0
[0 1 2 3]
Dietary Habits 0
[2 1 0]
Degree 0
[0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27]
Have you ever had suicidal thoughts ? 0
[1 0]
Work/Study Hours 0
[ 3.  9.  4.  1.  0. 12.  2. 11. 10.  6.  8.  5.  7.]
Financial Stress 0
['1.0' '2.0' '5.0' '3.0' '4.0']
Family History of Mental Illness 0
[0 1]
Depression 0
[1 0]

In [3]:
#Clean City

city_uni = df["City"].unique()
valid_cities = [
    'Visakhapatnam', 'Bangalore', 'Srinagar', 'Varanasi', 'Jaipur',
    'Pune', 'Thane', 'Chennai', 'Nagpur', 'Nashik', 'Vadodara',
    'Kalyan', 'Rajkot', 'Ahmedabad', 'Kolkata', 'Mumbai', 'Lucknow',
    'Indore', 'Surat', 'Ludhiana', 'Bhopal', 'Meerut', 'Agra',
    'Ghaziabad', 'Hyderabad', 'Vasai-Virar', 'Kanpur', 'Patna',
    'Faridabad', 'Delhi'
]
invalid_cities = []
for i in city_uni:
    if i not in valid_cities:
        invalid_cities.append(i)

fix_invalid_city = invalid_cities.copy()
for i in range(len(fix_invalid_city)):
    fix_invalid_city[i] = None

fix_invalid_city[21] = "Ghaziabad"
fix_invalid_city[6] = "Kalyan"
fix_invalid_city[7] = "Mira-Bhayandar"

for i in range(len(invalid_cities)):
    df.loc[df["City"]==invalid_cities[i],"City"] = fix_invalid_city[i]

In [4]:
#Clean Profession from wrong data 
"""
pro_uni = df.Profession.unique()
fix_pro_uni = pro_uni.copy()
for i in range(len(fix_pro_uni)):
    fix_pro_uni[i] = fix_pro_uni[i].replace(" ","_")
    fix_pro_uni[i] = fix_pro_uni[i].replace("/","_")
    fix_pro_uni[i] = fix_pro_uni[i].replace("'", "")

for i in range(len(pro_uni)):
    df.loc[df["Profession"]==pro_uni[i],"Profession"] = fix_pro_uni[i] 
"""

# we are gonna use just the student so it's true att all, then you should remove it 

student = df["Profession"]=="Student"
df = df[student]
df = df.drop("Profession", axis=1)

In [5]:
#Clean sleep_duration
sleep_uni = df.loc[:,"Sleep Duration"].unique()
sleep_tru = ['5-6 hours', "'Less than 5 hours'", "'7-8 hours'",
       'More than 8 hours']
comb = []
for i in sleep_uni:
    comb.append(df["Sleep Duration"] == i)
sleepers = (comb[0] | comb[1] |comb[2] | comb[3] )
for i in range(4):
    df.loc[comb[i],"Sleep Duration"] = i
df = df[sleepers]

In [6]:
#Clean Dietary Habit
die_uni = df["Dietary Habits"].unique()
die_uni[0] = "Unhealthy"
die_uni[2] = "Healthy"
for i in range(len(die_uni[0:4])):
    df.loc[df["Dietary Habits"]== die_uni[i],["Dietary Habits"]] = i

die = df["Dietary Habits"]< 3
df= df[die]

In [7]:
#Clean Degree
Degree_uni = df["Degree"].unique()
for i in range(len(Degree_uni)):
    df.loc[df["Degree"]== Degree_uni[i],["Degree"]] = i

In [13]:
#Clean suicidal thoughts
df.loc[df["Have you ever had suicidal thoughts ?"]== "Yes",["Have you ever had suicidal thoughts ?"]] = 1
df.loc[df["Have you ever had suicidal thoughts ?"]== "No",["Have you ever had suicidal thoughts ?"]] = 0

In [9]:
#Clean Financial Stress
Financial_st = df["Financial Stress"].unique()[0:5]
mask = df["Financial Stress"].isin(Financial_st)
df = df[mask]

In [10]:
#Clean Family History of Mental Illness
df.loc[df["Family History of Mental Illness"]== "Yes",["Family History of Mental Illness"]] = 1
df.loc[df["Family History of Mental Illness"]== "No",["Family History of Mental Illness"]] = 0

In [11]:
df

,id,Gender,Age,City,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,5.0,0.0,8.97,2.0,0.0,0,2,0,Yes,3.0,1.0,0,1
1,8,Female,24.0,Bangalore,2.0,0.0,5.90,5.0,0.0,0,1,1,No,3.0,2.0,1,0
2,26,Male,31.0,Srinagar,3.0,0.0,7.03,5.0,0.0,1,2,2,No,9.0,1.0,1,0
3,30,Female,28.0,Varanasi,3.0,0.0,5.59,2.0,0.0,2,1,3,Yes,4.0,5.0,1,1
4,32,Female,25.0,Jaipur,4.0,0.0,8.13,3.0,0.0,0,1,4,Yes,1.0,1.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27896,140685,Female,27.0,Surat,5.0,0.0,5.75,5.0,0.0,0,0,6,Yes,7.0,1.0,1,0
27897,140686,Male,27.0,Ludhiana,2.0,0.0,9.40,3.0,0.0,1,2,11,No,0.0,3.0,1,0
27898,140689,Male,31.0,Faridabad,3.0,0.0,6.61,4.0,0.0,0,0,17,No,12.0,2.0,0,0
27899,140690,Female,18.0,Ludhiana,5.0,0.0,6.88,2.0,0.0,1,2,6,Yes,10.0,5.0,0,1
27900,140699,Male,27.0,Patna,4.0,0.0,9.24,1.0,0.0,1,2,3,Yes,2.0,3.0,1,1